// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


.admin-controller {
  text-align: center;
}

.waitlist-table {
  text-align: left;
  margin: auto;
}

.waitlist-table td {
  padding: 5px;
  border: 1px solid #000;

}
