<style>
  .fb-share-button
  {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3);
  -moz-transform: scale(3);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  }

.twitter-share-button
{
transform: scale(2.1);
-ms-transform: scale(2.1);
-webkit-transform: scale(2.1);
-o-transform: scale(2.1);
-moz-transform: scale(2.1);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}

  #custom-tweet-button a {
    display: block;
    padding: 2px 5px 2px 20px;
    background: url('http://a4.twimg.com/images/favicon.gif') left center no-repeat;
    border: 1px solid #ccc;
  }

  .twitter-button-wrapper {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
  }
  .fb-button-wrapper {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
  }
  </style>

<div class="container public">
  <div class="content heading-wrapper" data-0="top: 40%;" data-450="top: 40%;" data-1000="top: -100%">
    <div class="description">
      <%= image_tag "calendar_big.png", :width => "100px", :class => "img-calendar img" %>
      <h1 class="title">RSVPD</h1>
      <h2 class="subtitle">The best way to get everyone together</h2>
      <div class="get-notified">
        <h2 class="email-enter-desc">Get notified when we launch</h2>
        <input type="text" class="enlist" placeholder="Email address"/>
        <p class="feedback"></p>
      </div>
    </div>
  </div>

  <div class="content feed" data-0="top: 150%;" data-150="top: 150%;" data-700="top: 30%;" data-3500="top: 30%;" data-5300="top: -100%;">
    <div class="description">
      <h1 class="title">Feed</h1>
      <h2 class="subtitle">See all your events in one feed, designed to make it quick and easy to rsvp to events.</h1>
    </div>
  </div>

  <div class="content create" data-2500="top: 150%;" data-4300="top: 30%;" data-8500="top: 30%;" data-9500="top: -100%;">
    <div class="description">
      <h1 class="title">Create</h1>
      <h2 class="subtitle">Jot down a plan and invite others to your event.</h1>
      <h2 class="subtitle">Find a place to hangout with your friends quickly and easily with Yelp reviews/ratings.</h1>
    </div>
  </div>

  <div class="content groups" data-8500="top: 150%;" data-9500="top: 30%;" data-12000="top: 30%;" data-13000="top: -100%;">
    <div class="description">
      <h1 class="title">Groups</h1>
      <h2 class="subtitle">Create and Invite groups to make it easier to have fun with friends.</h1>
    </div>
  </div>

  <div class="content payments" data-11500="top: 150%;" data-12500="top: 30%;" data-20500="top: 30%;" data-21500="top: -100%;">
    <div class="description">
      <h1 class="title">Payments</h1>
      <h2 class="subtitle">Rally everyone to chip in before your event deadline Cashless. Say No to IOUs.</h1>
      <div class="get-notified" data-14000="opacity:0;" data-15000="opacity:1;">
        <h2 class="email-enter-desc">Get notified when we launch</h2>
        <input type="text" class="enlist" placeholder="Email address"/>
        <p class="feedback"></p>
      </div>
    </div>
  </div>

  <div class="iphone-container" data-0="bottom: 9%;" data-500="bottom: 50%;" data-20500="bottom: 50%;" data-21500="bottom: 150%;">
    <div class="iphone"></div>
    <div class="tap-gesture"
      data-900="top: 215px; left: 210px; opacity:0;"
      data-1000="opacity:1; transform:scale(1,1);"
      data-1400="opacity:0; transform:scale(3,3);"

      data-1899="top: 380px; left: 130px; transform:scale(1,1);"
      data-2300="opacity:1; transform:scale(1,1);"
      data-2650="opacity:0; transform:scale(3,3);"

      data-3100="top: 95px; left: 240px; opacity:0; transform:scale(1,1);"
      data-3101="opacity:1; transform:scale(1,1);"
      data-3600="opacity:0; transform:scale(3,3);"

      data-5999="top: 305px; left: 200px; opacity:0; transform:scale(1,1);"
      data-6000="opacity:1; transform:scale(1,1);"
      data-6350="opacity:0; transform:scale(3,3);">
    </div>
    <div class="iphone-ss screen-1" data-0="opacity: 1;" data-1350="opacity: 1;"></div>
    <div class="iphone-ss screen-2" data-1350="opacity: 0;" data-1900="opacity: 1;"></div>
    <div class="iphone-ss screen-3" data-2200="opacity: 0;" data-2750="opacity: 1;"></div>
    <div class="iphone-ss screen-4" data-3100="opacity: 0;" data-3800="opacity: 1;"></div>
    <div class="iphone-ss screen-5" data-6150="opacity: 0;" data-6750="opacity: 1;"></div>
    <div class="iphone-ss screen-6" data-8500="opacity: 0;" data-9500="opacity: 1;"></div>
    <div class="iphone-ss screen-7" data-11500="opacity: 0;" data-12500="opacity: 1;"></div>
    <div class="iphone-ss screen-8" data-14500="opacity: 0;" data-15500="opacity: 1;"></div>
  </div>

  <div class="invite-container" data-20000="top: 150%;" data-21500="top: 20%;" style="position: fixed;">
    <h1>Please help us spread the word!</h1>
    <div class="share-container">
      <div class="twitter-button-wrapper">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.original_url %>" data-size="large" data-count="none" data-via="rsvpdapp" data-lang="en" data-text="Check out RSVPd now at ">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      </div>
      <div class="fb-button-wrapper">
        <div class="fb-share-button" data-href="<%= request.original_url %>" data-width="2000" data-type="button"></div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $().ready(function() {
    $('.enlist').on('keyup', function(e) {
      var keyCode = e.keyCode,
      email,
      responseStatus,
      message;

      if (keyCode === 13) {
        email = $('.enlist').val();
        $.ajax({
          url: 'i',
          type: 'POST',
          dataType: 'JSON',
          data: {
            email: email
          }
        }).done(function(data) {
          responseStatus = data.status;
          message = data.message;

          if (responseStatus === 0) {
          } else {
            $('.enlist').val('');
          }
          $('.feedback').show().text(message).delay(3000).fadeOut();
        });
      }
    });
  });
</script>

<script type="text/javascript">
  var s = skrollr.init({
    smoothScrolling:true
  });
</script>
